.Lbtnc{
  


   
   
    color: whitesmoke;
    font-size: 15px;
    background: linear-gradient(to right, #76d7ea, #29c3f8, #00a9ff, #5d88ff, #a059e2); /* Cyan */
    /* Black text for contrast */
    border: none;
    border-radius: 20px;
    padding: 10px 30px;
    font-size: 16px;
    font-weight:normal ;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
}
.Lbtnc:hover{
   
    transform: scale(1.05);
}
.main-lbtnc{
    display: flex;
    justify-content: center;
}