
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Rubik&display=swap');
*{
    margin: 0;
padding: 0;
text-decoration: none;
list-style: none;
box-sizing:border-box;
font-family: 'Rubik', sans-serif;
}

html{
    overflow: hidden;
}

.main-login{
    text-align: center;
    background-color: white;
    width: 28%;
    overflow: hidden;
    margin-left:34rem;
    margin-top: 85px;
    height: 570px;
    display: flex;
    justify-content: center;
    border-radius: 17px;
  
}
.tl{
    position: relative;
    left: 5rem;
    margin-left:9rem;
    top: 49px;
}

.form{
    font-size: 22px;
    position: relative;
    top: 130px;
    left: -207px;
}

.form #inuser77[type="text"]{
    width: 100%;
    border: none;
    border-bottom: solid black 1px;
    position: relative;
    left: 114px;
    bottom: 28px;
    outline: none;;

}
.form #inuser77[type="text"]::placeholder{
    color: black;
   position: relative;
   left:1rem;
   bottom: 3px; 
   opacity: 0.5;
}
.form #inpass77[type="password"]{
    width: 100%;
    border: none;
    border-bottom: solid black 1px;
    position: relative;
    left: 114px;
    bottom: 28px;
    outline: none;;
}
.form #inpass77[type="password"]::placeholder{
    color: black;
   position: relative;
   left:1rem;
   bottom: 3px; 
   opacity: 0.5;
}
.fp{
    position: relative;
    font-size: 14px;
    left: 14rem;
}
.login{
    text-align: center;
    position: relative;
    top: 10px;
    left:6.6rem;
    background-color: #d0437a;
    color: white;
    width: 276px;
    padding: 12px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
    border:none;
    font-size: 19px;
}
.login:hover{
    background-color: #b0336a;
}

.siup{
    font-size: 18px;
    position: relative;
    left: 6.5rem;
    
}
.i-fb{
    height: 40px;
    position: relative;
    left: 24px;
    top: 19px;
    border-radius: 100px;

}
.i-t{
    height: 40px;
    position: relative;
    left: 146px;
    top: 19px;
    border-radius: 100px;
}
.i-g{
    height: 35px;
    position: relative;
left: 95px;
    top: 15px;
    border-radius: 100px;
}
.or{
    font-size: 18px;
    position: relative;
    left: 6.1rem;
    top:1.1rem;
}
.sin{
    font-size: 18px;
    position: relative;
    left: 6.1rem;
    top:1.8rem;
    color: black;
}
