
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient( 135deg, #ABDCFF 10%, #0396FF 100%);
    color: #E6EDF3;
  }
  
  .box {
    background-color: #0093E9;
     background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    padding: 20px 30px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 500px;
    margin-bottom: 100px;
  }
  
  .box-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .box-details {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .logout-button {
    padding: 10px 20px;
    background-color: #ff5252;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .logout-button:hover {
    background-color: #ff1744;
  }
  
  .box-img{
    width: 30%;
  }
  .box-details{
   
    width:100%;
    height: 15rem;
  
   
  }
  .uname{
 
  padding: 10px;  
  width: 100%; 
  
  }
  .userName{
    display:flex;
    justify-content: flex-start;
    margin:10px 0px;
    font-weight: bolder;
    font-size: 1.2rem;
  }
  .admin-button{
    padding: 10px 20px;
    background-color: #ff5252;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
   margin-right: 10.5rem;
  }