
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Rubik&display=swap');
*{
    margin: 0;
padding: 0;
text-decoration: none;
list-style: none;
box-sizing:border-box;
font-family: 'Rubik', sans-serif;
}



.main-signup{
    text-align: center;
    background-color: white;
    width: 30%;
    overflow: hidden;
    margin-left:34rem;
    margin-top: 85px;
    height: 570px;
    display: flex;
    justify-content: center;
    border-radius: 17px;
  
}
.t2{
    
    position: relative;
    left: 1.8rem;
    margin-left: 92px;
    top: 49px;
   
}


.form{
    font-size: 22px;
    position: relative;
    top: 130px;
    left: -207px;
}

.form   input[type="text"]{
    width: 150%;
    border: none;
    border-bottom: solid black 1px;
    position: relative;
    left: 71px;
    bottom: 28px;
    outline: none;;

}
.form input[type="text"]::placeholder{
    color: black;
   position: relative;
   left:1rem;
   bottom: 3px; 
   opacity: 0.5;
}
.form input[type="password"]{
    width: 150%;
    border: none;
    border-bottom: solid black 1px;
    position: relative;
    left: 71px;
    bottom: 30px;;
    outline: none;;
}
.form input[type="password"]::placeholder{
    color: black;
   position: relative;
   left:1rem;
   bottom: 3px; 
   opacity: 0.5;
}
.form input[type="email"]{
    width: 150%;
    border: none;
    border-bottom: solid black 1px;
    position: relative;
    left:70px;
    bottom: 30px;;
    outline: none;;
}
.form input[type="email"]::placeholder{
    color: black;
   position: relative;
   left:1rem;
   bottom: 3px; 
   opacity: 0.5;
}

.pass2{
   
    font-size: 16px;
    margin-left: -100px;

}
.pass3{
    margin-top: -20px;
    margin-left: -46px;

}
.register{
   position: relative;
   left: 5.5rem;
   
}
.register button{
    border: none;
    font-size: 1rem;
    padding: 10px;
    border-radius: 30px 0px;
    text-align: center;
    background:#d0437a;

  
   
  color: #FFFFFF;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 161px;

  word-break: break-word;
  border: 0;



    
}
.register button:hover{
    box-shadow: #d0437a 0 10px 20px -10px;
}
.backtoslg{
    font-size: 16px;
    position: relative;
    left: 15rem;
    color: black;
}